<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag("http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg") %>
<form action="/students" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>Student name:</label>
	<input type="text" name="name">
	<label>Student photo url:</label>
	<input type="text" name="img_url">
	<input type="hidden" name="house_id" value=<%= sorting_hat %>>
	<button>Enter</button>
</form>