*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}
body{
	background-image: url("../images/background.jpg");
	width: 100%;
	height: 100%;
}
nav{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content:space-between;
	position: absolute;
	width: 100%;
}
nav>h1{
	text-align: center;
	width: 200px;

}
nav>img{
	width: 100px;
}
nav>.emptySpace{
	width: 100px;
}
.bigContainer{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 100%;
}
main{
	width: 650px;
	height: 300px;
	display: flex;
	justify-content: space-between;

}
section{
	background-color: #fff;
	border-radius: 20px;
	box-shadow: #ccc;
	width: 280px;
	height: 220px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 10px 5px black;
}
section:last-child{
	background-color: #eee;
}

section>h2{
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
}

section>p{
	font-size: 16px;
	text-align: center;
}
section>span{
	font-size: 40px;
	text-align: center;
	padding:10px;
}
section>.buttonBox{
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.buttonCash{
	background-color: #fff44f;
	padding: 10px;
	border-radius: 3px;
}