<div class="container">
	<% @projects.each { |project|%>
	<div class="project">
		<a href="/projects/<%= project.id %>">
			<img src=<%= project.preview.url %> alt="">
			<p><%= project.title %></p>
		</a>
	</div>
	<% } %>

</div>