<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<div class="wrap">
		<div>Please input company code</div>
		<form action="/stock?">
			<input type="text" name="company_code">
			<button>enter</button>
		</form>

	</div>
</body>
</html>