<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	User name:<input type="text" name="name">
	User Email:<input type="text" name="email">
	User password:<input type="password" name="password">
<!-- 	User password comformation:<input type="password" name="password_comformation" -->
	<button>enter</button>
</form>