<form action="/session" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	User Email:<input type="text" name="email">
	User password:<input type="password" name="password">
	<button>enter</button>
</form>