<div class="bigContainer">
	<h1>Check movies</h1>
	<form action="/movie_input?">
		<input type="text" name="movie_name" placeholder="please input your movie name">
		<button>enter</button>
	</form>
</div>